body {
  margin: 0;
}
html,
body {
  height: 100%;
	overflow: hidden;
}
canvas {
  display: block;
}
:root {
  --cursor-size: 28px;
  --cursor-size-hover: 56px;
}

/* 鼠标指针屏蔽 */
* {
	cursor: none !important;
}

/* 鼠标指针屏蔽 */
.cursor {
	background-color: #fff;
	position: fixed;
	pointer-events: none;
	width: var(--cursor-size);
	height: var(--cursor-size);
	border-radius: 50%;
	visibility: hidden;
	z-index: 99999999;
	will-change: transform opacity;
	/* 提高动画性能 */
	transition: transform 0.1s ease-out;
	/* 平滑过渡效果 */
	mix-blend-mode: difference;
	/* 混合模式 */
	-webkit-transition: opacity .3s;
	/* Safari */
	transition: opacity .3s;
	/* Safari */
}
/* 鼠标指针屏蔽 */
.cursor-black {
	display: block !important;
}
.cursor-enlarged {
	width: var(--cursor-size-hover) !important;
	height: var(--cursor-size-hover) !important;
	transition: width 0.2s, height 0.2s;
	/* 平滑过渡效果 */
}